.heading-1
{padding: 25 25 25 25;
color: white;
display: inline-block;
background-color: #0090d4d4;
margin-left: 30;}

ls{display: inline-block;
list-style: none; font-style: normal; font-size: 30; font-weight: bold;}


#heading-3{color:#0090d4d4;
}

#grey{ background-color: #DDDEE0;
}
